.font-roboto {  /* large western font for page title */
  font-family: 'Roboto Slab';
  font-size: 30pt;
  font-weight: bold;
  font-variant: titling-caps;
  font-stretch: 125%;
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
}

.font-oxygen11 {  /* Medium serif font for smaller areas */
  font-family: 'Oxygen';
  font-size: 11pt;
  font-weight: bold;
  color: darkgray;
  text-transform: uppercase;
}

.font-oxygen13 {  /* Medium serif font for medium areas - dark gray font */
  font-family: 'Oxygen';
  font-size: 13pt;
  font-weight: bold;
  color: darkgray;
  text-transform: uppercase;
}

.font-oxygen18 {  /* Medium serif font for big areas - dark gray font */
  font-family: 'Oxygen';
  font-size: 18pt;
  font-weight: bold;
  color: darkgray;
  text-transform: uppercase;
}

.font-oxygen18w {  /* Medium serif font for big areas - white font */
  font-family: 'Oxygen';
  font-size: 18pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.font-noto {  /* small sans-serif font for text areas */
  font-family: 'Noto Sans TC';
  font-size: 12pt;
  color: darkgray;
}

h1, h3, h6 {
  text-align: center;
  color: rgb(235, 96, 80);
  }

.center {
  text-align: center;
}

.small-text {
  text-align: justify;
}

h2 {
  text-align: left;
  color: grey;
}

h3 {
  font: 30pt;
}

h6 {
    font: 10pt;
    color: grey;
  }

#catImages {
  display:flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
}

.hr-1 {
  border-bottom: 1px  grey;
  align-content: center;
}

.hr-2 {
  border-top: 1px gray;
} 

img {
    width: 400px;
    max-height: 600px;
    min-width: 200px; 
    width: max-content;
    object-fit: contain;
    vertical-align: bottom;
    object-position: center;
  }

  .kittenSmall {
    float: left;
  }
  
body {
    background-color: white;
    justify-content:center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr   1fr 1fr 1fr 1fr 1fr 1fr 1fr   1fr 1fr 1fr ; 
    grid-gap: 1rem;
    grid-template-areas:
      ".      header        header        header      ."
      ".      features      features      features    ."
      "quote  quote         quote         quote       quote"
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      "footer footer        footer        footer      footer"
      "footer footer        footer        footer      footer"
      "footer footer        footer        footer      footer"
      ;
  }
  
  #header {
    grid-area: header;
  }

  #features {
    grid-area: features;
  }

  #quote {
    grid-area: quote;
    background-color:rgb(201, 197, 197);
    font-size: 20px;
    text-align: center;
  }

  #blank-column {
    grid-area: blank-column;
  }
  
  #wideContent1 {
    grid-area: wideContent1;
   /* display: flex;
    flex-direction:column;
    flex-wrap: nowrap; */
     justify-content: space-around; 
    font-size: 15px;
  }

  #content-1 {
    grid-area: content-1;
    justify-content:right;
    font-size: 10px;
    }
  
  #footer {
    grid-area: footer;
    background-color:rgb(201,197,197);
    font-size: 20px;
  }

  button {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.884);
  background-color: rgb(235, 96, 80);
  border: none;
  border-radius: 4px;
  font-size: 0.8vw;
  width: 10vw;
  height: 2.4vw;
  box-shadow: 1px 1px lightgray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 1.5vw 0;
  }

  .gray {
    background-color: gray;
  }

  .gray:hover {
    background-color: rgb(235, 96, 80);
    cursor: pointer;
  }

  button:hover {
  background-color: rgb(235, 96, 80);
  cursor: pointer;
  }

#Tell-Me-More {
  justify-content: center;  /* not sure how to center the button yet */
}

  .buttonwords {
    align-self: center;
  }

  #container-learn-more {
    display: grid;
    /* width: 750px;
    height: 600px; */
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      ".      header        header        header      ."
      ".      wideContent1  wide-Content1 content-1   ."
      ".      wideContent1  wide-Content1 content-1   ."
      ".      wideContent1  wide-Content1 content-1   ."
      ".      wideContent1  wide-Content1 content-1   ."
      ".      wideContent1  wide-Content1 content-1   ."
      "footer footer        footer        footer      footer";
  }

  #continue-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr   1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr   1fr 1fr 1fr ; 
    grid-gap: 1rem;
    grid-template-areas:
      ".      header        header        header      ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      "footer footer        footer        footer      footer"
      "footer footer        footer        footer      footer"
      "footer footer        footer        footer      footer";
  }

  #blog-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr   1fr 1fr 1fr 1fr 1fr 1fr    1fr 1fr 1fr ; 
    grid-gap: 1rem;
    grid-template-areas:
      ".      header        header        header         ."
      ".      wideContent1  wideContent1  wideContent1   ."
      ".      wideContent1  wideContent1  wideContent1   ."
      ".      wideContent1  wideContent1  wideContent1   ."
      ".      wideContent1  wideContent1  wideContent1   ."
      "footer footer        footer        footer        footer"
      "footer footer        footer        footer        footer"
      "footer footer        footer        footer        footer";
  }
  
/* footer form CSS: (following): ----------------------------   */

.form-container {
  display: grid;
  width:    4fr;
  height:   5fr;
  grid-gap: 1rem;
  grid-template-columns:
    [col1] 1fr
    [col2] 1fr
    [col3] 1fr
    [col4] 1fr
    [col5] 
   ;
  grid-template-rows:
    [row1] 1fr
    [row2] 1fr
    [row3] 1fr
    [row4] 1fr
    [row5] 1fr
    [row6] 
  ;
}

.form-header {
  grid-column: col1 / col5;
  grid-row:    row1 / row1;
  justify-content: center;
  font-size:        30px;
}

.about {
  grid-column: col3 / col5;
  grid-row:    row2 / row2 ;
}

.location {
  grid-column: col3 / col4;
  grid-row:    row3 / row6;
  align-items: left;
}

.social-media {
  grid-column: col4 / col5;
  grid-row:    row3 / row6;
  
}

/* OTHER STYLES */

form-body {
  background-color: rgb(154, 158, 157);
  display:          flex;
  justify-content:  left;
  padding:          0px;
  font-family: 'Roboto', sans-serif;
}

.item {
  background-color: #1EAAFC;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  color:            #000000;
  border-radius:    0px;
  /* border:           1px solid #171717; */
  display:          flex;
  font-size:        18px;
}

.form-header {
  background-color: #ECF1EF;
  font-family: 'Spectral SC', serif;
  text-align: center;
  font-size:        2em;
}

.form {
  background-color: #FFFFFF;  
  grid-column: col1 / col3;
  grid-row:    row2 / row6;
}

.about {
  background-color: #ECF1EF;
  text-align: justify;
}

.location {
  background-color: #ECF1EF;
  text-align: left;
}

.social-media {
  background-color: #ECF1EF;
  text-align: left;
}

form {
  /* Just to center the form on the page */
  margin: 0 left;
  background-color: #ECF1EF;
  /* grid-column: col1 / col3;
  grid-row:    row2 / row6; */
  /* width: 700px; 
  height: 200px; */
  /* To see the outline of the form */
  padding: 0em;
  border: 0px solid #CCC;
  border-radius: 0em;
}

form div + div {
  margin-top: 1em;
}

 /* label {
  // To make sure that all labels have the same size and are properly aligned 
  display: inline-block;
  width: 90px;
  text-align: left;
} */ 

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em 'Roboto', sans-serif;

  /* To give the same size to all text fields */
  width: 700px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 0px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  /* vertical-align: top; */
  /* To give enough room to type some text */
  height: 200px;
}

.form-button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 1px; /* same size as the label elements */
}

form-button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
     color: #FFFFFF;
     background-color: #FF7256;
     font-size: 20px;
  margin-left: .0em;
}