.font-roboto {  /* large western font for page title */
  font-family: 'Roboto Slab';
  font-size: 30pt;
  font-weight: bold;
  font-variant: titling-caps;
  font-stretch: 125%;
  text-transform: uppercase;
  text-shadow: 2px 2px grey;
}

.font-oxygen11 {  /* Medium serif font for medium and smaller areas */
  font-family: 'Oxygen';
  font-size: 11pt;
  font-weight: bold;
  color: darkgray;
  text-transform: uppercase;
}

.font-oxygen18 {  /* Medium serif font for medium and smaller areas */
  font-family: 'Oxygen';
  font-size: 18pt;
  font-weight: bold;
  color: darkgray;
  text-transform: uppercase;
}

.font-oxygen18w {  /* Medium serif font for medium and smaller areas */
  font-family: 'Oxygen';
  font-size: 18pt;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.font-noto {  /* small sans-serif font for text areas */
  font-family: 'Noto Sans TC';
  font-size: 10pt;
}

h1, h3, h6 {
  text-align: center;
  color: rgb(235, 96, 80);
  }

h2 {
  text-align: left;
  color: grey;
}

h3 {
  font: 30pt;
}

h6 {
    font: 10pt;
    color: grey;
  }

#catImages {
  display:flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

.hr-1 {
  border-bottom: 1px  grey;
  align-content: center;
}

.hr-2 {
  border-top: 1px gray;
} 

img {
    width: 400px;
    max-height: 600px;
    min-width: 200px; 
    width: max-content;
    object-fit: contain;
    vertical-align: bottom;
    object-position: center;
  }
  
body {
    background-color: white;
    justify-content:center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; 
    grid-gap: 1rem;
    grid-template-areas:
      ".      header        header        header      ."
      ".      features      features      features    ."
      ".      features      features      features    ."
      "quote  quote         quote         quote       quote"
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      ".      wideContent1  wideContent1  content-1   ."
      "footer footer        footer        footer      footer"
      "footer footer        footer        footer      footer"
      "footer footer        footer        footer      footer"
      ;
  }
  
  #header {
    grid-area: header;
  }

  #features {
    grid-area: features;
  }

  #quote {
    grid-area: quote;
    background-color:rgb(201, 197, 197);
    font-size: 20px;
    text-align: center;
  }

  #blank-column {
    grid-area: blank-column;
  }
  
  #wideContent1 {
    grid-area: wideContent1;
   display: flex;
    flex-direction:column;
    flex-wrap: nowrap; 
     justify-content: space-around; 
    font-size: 15px;
  }

  #content-1 {
    grid-area: content-1;
    justify-content:right;
    font-size: 10px;
    }
  
  #footer {
    grid-area: footer;
    background-color:rgb(201,197,197);
    font-size: 20px;
  }

  button {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.884);
  background-color: rgb(235, 96, 80);
  border: none;
  border-radius: 4px;
  font-size: 0.8vw;
  width: 10vw;
  height: 2.4vw;
  box-shadow: 1px 1px lightgray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 1.5vw 0;
  }

  button:hover {
  background-color: rgb(235, 96, 80);
  cursor: pointer;
  }

#Tell-Me-More {
  justify-content: center;  /* not sure how to center the button yet */
}

  .buttonwords {
    align-self: center;
  }

  .container-learn-more {
    display: grid;
    /* width: 750px;
    height: 600px; */
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      "blank-column header        header        header      ."
      "blank-column wideContent1  wide-Content1 content-1   ."
      "blank-column wideContent1  wide-Content1 content-1   ."
      "blank-column wideContent1  wide-Content1 content-1   ."
      "blank-column wideContent1  wide-Content1 content-1   ."
      "blank-column wideContent1  wide-Content1 content-1   .";
  }

  #continue-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr   1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr   1fr 1fr 1fr ; 
    grid-gap: 1rem;
    grid-template-areas:
      "blank-column header        header        header      ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "blank-column wideContent1  wideContent1  content-1   ."
      "footer       footer        footer        footer      footer"
      "footer       footer        footer        footer      footer"
      "footer       footer        footer        footer      footer";
  }
